@page
@model PrivacyModel
@{
    ViewData["Title"] = "Politica de Confidențialitate";
}
<h1>@ViewData["Title"]</h1>

<p>Utilizați această pagină pentru a detalia politica de confidențialitate a site-ului.</p>
